$dark-100: #24273D;
$dark-200: #1A1C2C;
$dark-300: #121425;
$dark-400: #0E0F1C;

$primary-100: #E87C7C;
$primary-200: #F26565;

$secondary-200: #0284c7;




///// shadows

$shadow-1: rgba(99,99,99,0.2) 0px 2px 8px 0px;